@{
    ViewBag.Title = "Reply";
}

<div class="reply-comment">
    <input value="" placeholder="输入评论..." class="reply-content" name="reply-content" autocomplete="off" />
    <a>回复</a>
    <a>取消</a>
</div>