@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    <style type="text/css">
        .wrap-main {
            width: 100%;
            padding-top: 60px;
            background: #f6f6f6;
        }

            .wrap-main .main {
                width: 70%;
                margin: 0 auto;
            }

            .wrap-main .main-header {
                margin: 10px 0px;
                background: #fff;
            }

            .wrap-main .ask, .answer {
                margin-left: 10px;
                margin-right: 20px;
                height: 50px;
                line-height: 50px;
                cursor: pointer;
            }

                .wrap-main .ask:hover, .answer:hover {
                    color: #0084ff;
                }

            .wrap-main .main-content .content-item {
                background: #fff;
                padding: 10px;
                margin-bottom: 10px;
            }

                .wrap-main .main-content .content-item .user-headlogo {
                    display: inline-block;
                    cursor: pointer;
                }

                .wrap-main .main-content .content-item .user-name {
                    display: inline-block;
                    margin-left: 5px;
                    height: 24px;
                    line-height: 22px;
                    font-weight: 700;
                    cursor: pointer;
                }

                .wrap-main .main-content .content-item .user-intro {
                    display: inline-block;
                    height: 24px;
                    line-height: 22px;
                    width: 650px;
                    vertical-align: bottom;
                    word-break: break-all;
                }

                .wrap-main .main-content .content-item .content-ask {
                    margin: 12px 0px;
                    font-weight: 700;
                }

                .wrap-main .main-content .content-item .ask-question {
                    color: #000;
                }

                    .wrap-main .main-content .content-item .ask-question:hover {
                        color: #175199;
                        cursor: pointer;
                    }

                .wrap-main .main-content .content-item .wrap-con {
                    display: inline-block;
                }

                    .wrap-main .main-content .content-item .wrap-con:hover {
                        display: inline-block;
                        color: #0084ff;
                    }

                .wrap-main .main-content .content-item .con-qu {
                    display: inline-block;
                    margin-left: 5px;
                }

                .wrap-main .main-content .content-item .words-summary {
                    display: inline-block;
                }

                .wrap-main .main-content .content-item .words-click {
                    display: inline-block;
                    vertical-align: top;
                }

        .qu-nodata {
            height: 200px;
            background: #fff;
            line-height: 200px;
            font-size: 20px;
            text-align: center;
        }
    </style>
}

<div class="wrap-main">
    <div class="main">

        <div class="main-header clearfix">
            <div class="ask floatL">
                <a class="iconfont icon-question"></a>
                <a class="question">提问</a>
            </div>
            @*<div class="answer floatL">
                    <a class="iconfont icon-answer"></a>
                    <a class="answer-qu">回答</a>
                </div>*@
        </div>

        <div class="main-content"></div>
        <div id="go-top" class="go-top" style="width:40px;height:40px;background:#bbb;cursor:pointer;position:fixed;bottom:10px;right:0px;"></div>
    </div>
</div>

<input type="hidden" name="askquesUrl" value="@(Url.Action("AskQuestion","Question"))" />
<input type="hidden" name="getQuesUrl" value="@(Url.Action("GetQuestionList", "Question"))" />
<input type="hidden" name="savePraiseTreadUrl" value="@Url.Action("SavePraiseOrTread", "PraiseOrTread")" />
<input type="hidden" name="questionDetail" value="@Url.Action("QuestionDetail", "Question")" />
@section footer{
    <script type="text/javascript" src="~/Content/js/question.js"></script>
    <script type="text/javascript">

        window.onload = function () {

            var goTop = document.getElementById('go-top');
            goTop.onclick = function () {

                if (document.documentElement.scrollTop == 0) return;
                var timerId = setInterval(function () {

                    var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
                    var offset = Math.floor(scrollTop / -5);

                    if (scrollTop == 0) {
                        console.log(timerId);
                        clearInterval(timerId);
                    }

                    document.documentElement.scrollTop = document.documentElement.scrollTop + offset;

                }, 30);
            }


            window.onscroll = function () {
          
                var goTop = document.getElementById('go-top');
                var scrollOffset = document.documentElement.scrollTop;

                if (scroll == 0) {
                    goTop.style.display = 'none';
                } else {
                    goTop.style.display = 'block';
                }
            }

        };
    </script>
}