
.floatL {
    float: left;
}

.floatR {
    float: right;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0px;
    visibility: hidden;
    clear: left;
}

.clearfix {
    zoom: 1;
}

textL {
    text-align: left;
}

.textC {
    text-align: center;
}

.textR {
    text-align: right;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ellipsis-mu {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    /*word-wrap: break-word;*/
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.btn-search {
    display: inline-block;
    height: 30px;
    width: 60px;
    line-height: 28px;
    background: #0084ff;
    color: #fff;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

.warning {
    color: #ff0000;
}

.img24 {
    width: 24px;
    height: 24px;
    vertical-align: top;
}

.img40 {
    width: 40px;
    height: 40px;
    vertical-align: top;
}

.updown-active {
    background: #0084ff !important;
    color: #fff !important;
}

.zancai-active {
    color: #0084ff !important;
}

.no-answer {
    color: #979797;
}

/*点赞、踩-start*/
.content-operate {
    margin-top: 12px;
}

    .content-operate .vote {
        margin-right: 20px;
    }

    .content-operate .vote-praise, .vote-tread {
        display: inline-block;
        background: #e5f2ff;
        color: #0084ff;
        padding: 5px 10px;
        cursor: pointer;
        margin-right: 5px;
    }

    .content-operate .comment-wrap {
        display: inline-block;
        padding: 5px 0px;
        color: #8590a6;
        cursor: pointer;
    }
/*点赞、踩-end*/

/*评论回复框和按钮-start*/
.reply-input {
    width: 630px;
    height: 28px;
    line-height: 28px;
    padding: 0px 5px;
    outline: none;
    margin-right: 5px;
}

.reply-btn {
    width: 46px;
    height: 30px;
    line-height: 28px;
    display: inline-block;
    background: #0084ff;
    text-align: center;
    color: #fff;
    margin-right: 5px;
}

.reply-btn-cancel {
    background: #a3a8ad;
}

/*评论回复框和按钮-end*/

.submit-btn {
    width: 200px;
    height: 30px;
    line-height: 28px;
    display: inline-block;
    background: #0084ff;
    text-align: center;
    color: #fff;
}
