* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    width: 100%;
    background: #f6f6f6;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.wrapper {
    width: 100%;
    height: 100%;
    background: #f6f6f6;
}

/*注册页-start*/
.register {
    position: absolute;
    left: 50%;
    top: 100px;
}

.register-wrapper {
    width: 400px;
    height: 300px;
    background: #fff;
}

    .register-wrapper .header {
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
    }

    .register-wrapper .content {
        text-align: center;
    }

        .register-wrapper .content .username, .password {
            display: inline-block;
            height: 40px;
            line-height: 40px;
            width: 220px;
            border: none;
            border-bottom: 1px solid #bbb;
            outline: none;
        }

    .register-wrapper .user-submit {
        margin-top: 40px;
    }

    .register-wrapper .register-btn {
        display: inline-block;
        height: 38px;
        line-height: 38px;
        background: #0084ff;
        width: 220px;
        color: #fff;
        cursor: pointer;
    }

    .register-wrapper .tips-text {
        color: #ff0000;
        height: 22px;
        display: inline-block;
        visibility: hidden;
        font-size: 12px;
    }
/*注册页-end*/

/*_layout模板页-header部分-start*/

.home-wrap {
    height: 100%;
}

    .home-wrap .wrap-head {
        background: #fff;
        position: fixed;
        top: 0;
        width: 100%;
    }

    .home-wrap .wrap-body {
        height: 100%;
    }

    .home-wrap .header {
        width: 70%;
        height: 60px;
        margin: 0 auto;
    }

        .home-wrap .header .header-bar {
            position: fixed;
            width: inherit;
        }

    .home-wrap .bar-search, .bar-user {
        height: 60px;
        line-height: 60px;
    }

    .home-wrap .bar-user .user-logo, .user-show {
        display: inline-block;
        cursor: pointer;
        height: 24px;
        line-height: 24px;
        vertical-align: middle;
    }

    .home-wrap .user-detail {
        position: absolute;
        background: #f3f3f3;
        text-align: center;
        width: 100px;
        box-shadow: 1px 1px 1px #bbb;
        -moz-box-shadow: 1px 1px 1px #bbb;
        display: none;
    }

        .home-wrap .user-detail:before {
            content: "";
            display: block;
            position: absolute;
            border-top: 18px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #f3f3f3;
            border-left: 10px solid transparent;
            top: -28px;
            left: 40px;
        }

        .home-wrap .user-detail .detail-item {
            height: 36px;
            line-height: 36px;
            margin-top: 5px;
        }

            .home-wrap .user-detail .detail-item:hover {
                background: #d3d3d3;
                cursor: pointer;
            }

        .home-wrap .user-detail .home-mine, .logout {
            display: inline-block;
            width: 100%;
            color: #8590a6;
        }

    .home-wrap .bar-search .search-key {
        height: 28px;
        width: 300px;
        outline: none;
        padding-left: 5px;
    }
/*_layout模板页-header部分-end*/


/*回答的评论样式-start*/
.sub-comment {
    background: #fff;
    margin-top: 20px;
}

    .sub-comment .comment-wrap {
        border: 1px solid #ebebeb;
        box-shadow: 1px 1px 1px #ebebeb;
        /*margin: 0px 15px;*/
    }

        .sub-comment .comment-wrap .comment-head, .comment-con, .comment-footer {
            padding: 10px 20px;
        }

    .sub-comment .comment-head {
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #ebebeb;
    }

        .sub-comment .comment-head .head-left {
            font-weight: 700;
        }

            .sub-comment .comment-head .head-left .comment-total {
                margin-right: 5px;
            }

        .sub-comment .comment-head .head-right {
            color: #8590a6;
        }

    .sub-comment .comment-con .info-logo {
        height: 24px;
        width: 24px;
        line-height: 24px;
        display: inline-block;
        vertical-align: middle;
    }

    .sub-comment .comment-con .user-info, .user-date {
        height: 40px;
        line-height: 40px;
    }

    .sub-comment .comment-con .logo-show {
        vertical-align: sub;
    }

    .sub-comment .comment-con .item-content {
        margin: 10px 0px;
    }

    .sub-comment .comment-con .icon-zan, .icon-cai, .icon-reply, .icon-zan-count, .icon-cai-count {
        color: #8590a6;
        font-size: 13px;
    }

    .sub-comment .comment-con .icon-zan, .icon-cai {
        margin-right: 5px;
    }

        .sub-comment .comment-con .icon-zan:hover, .icon-cai:hover, .icon-reply:hover {
            color: #0084ff;
        }

    .sub-comment .comment-con .icon-zan-count, .icon-cai-count {
        margin-right: 20px;
        cursor: default;
    }

    .sub-comment .comment-con .opt-reply {
        display: inline-block;
    }

    .sub-comment .comment-footer {
        height: 40px;
        line-height: 40px;
    }

    .sub-comment .reply-con {
        padding-left: 20px;
        margin-bottom: 15px;
        padding-top: 15px;
        border-top: 1px solid #ebebeb;
    }

        .sub-comment .reply-con .reply-value {
            width: 650px;
            height: 28px;
            line-height: 28px;
            padding: 0px 5px;
            outline: none;
        }

        .sub-comment .reply-con .con-btn {
            width: 46px;
            height: 30px;
            line-height: 28px;
            display: inline-block;
            background: #0084ff;
            text-align: center;
            color: #fff;
        }
/*回答的评论样式-end*/
