
<style type="text/css">
    .write-answer .answer-content {
        text-align: center;
        margin-top: 24px;
    }

    .write-answer .an-content {
        width: 600px;
        height: 260px;
        padding: 5px;
        outline: none;
        resize:vertical;
        overflow-y:auto;
    }
</style>
<div class="write-answer">

    <div class="answer-content">
        <textarea class="an-content" name="an-content" placeholder="写回答..."></textarea>
    </div>
    <div></div>
</div>
