@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<style type="text/css">
    .login {
        position: absolute;
        left: 50%;
        top: 100px;
    }

    .login-wrapper {
        width: 400px;
        height: 300px;
        background: #fff;
    }

        .login-wrapper .header {
            height: 60px;
            line-height: 60px;
            text-align: center;
            font-size: 16px;
            font-weight: 700;
        }

        .login-wrapper .content {
            text-align: center;
        }

            .login-wrapper .content .username, .password {
                display: inline-block;
                height: 40px;
                line-height: 40px;
                width: 220px;
                border: none;
                border-bottom: 1px solid #bbb;
                outline: none;
            }

        .login-wrapper .user-submit {
            margin-top: 40px;
        }

        .login-wrapper .login-btn {
            display: inline-block;
            height: 38px;
            line-height: 38px;
            background: #0084ff;
            width: 220px;
            color: #fff;
            cursor: pointer;
        }

        .login-wrapper .tips-text {
            color: #ff0000;
            height: 22px;
            display: inline-block;
            visibility: hidden;
            font-size: 12px;
        }
</style>
<div class="login">
    <div class="login-wrapper">
        <div class="header">
            <a>用户登录</a>
        </div>
        <div class="content">
            <div class="content-tips">
                <span class="tips-text"></span>
            </div>

            <div class="user-name">
                <input type="text" class="username" name="username" value="" autocomplete="off" placeholder="用户名称" />
            </div>

            <div class="user-pwd">
                <input type="password" class="password" name="password" value="" autocomplete="off" placeholder="密码" />
            </div>

            <div class="user-submit">
                <a class="login-btn">登录</a>
            </div>
        </div>
    </div>
    <input type="hidden" name="loginUrl" value="@(Url.Action("Login","Account"))" />
</div>

@section footer{
    <script type="text/javascript">
        $(function () {
            //居中
            $('.login').css('margin-left', $('.login').outerWidth() * (-0.5));

            //登录
            $('.login-btn').on('click', function () {

                var username = $('.username').val();
                var pwd = $('.password').val();

                if ($.trim(username) == '') {

                    $('.tips-text').text('用户名称不能为空');
                    $('.tips-text').css('visibility', 'visible');
                    return;
                }

                if ($.trim(pwd) == '') {

                    $('.tips-text').text('密码不能为空');
                    $('.tips-text').css('visibility', 'visible');
                    return;
                }

                var loginUrl = $('input[name="loginUrl"]').val();

                $.ajax({
                    type: 'post',
                    url: loginUrl,
                    data: JSON.stringify({ LoginName: username, Password: pwd }),
                    contentType: 'application/json;charset=utf-8',
                    success: function (data) {

                        if (data.Code < 0) {
                            $('.tips-text').text(data.Msg);
                            $('.tips-text').css('visibility', 'visible');
                            return false;
                        }

                        location.href = '/';
                    }
                });
            });

            $('.username,.password').on('focus', function () {
                $('.tips-text').text('');
                $('.tips-text').css('visibility', 'hidden');
            });

        });
    </script>
}