@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="register">

    <div class="register-wrapper">
        <div class="header">
            <a>用户注册</a>
        </div>
        <div class="content">
            <div class="content-tips">
                <span class="tips-text"></span>
            </div>

            <div class="user-name">
                <input type="text" class="username" name="username" value="" autocomplete="off" placeholder="用户名称" />
            </div>

            <div class="user-pwd">
                <input type="password" class="password" name="password" value="" autocomplete="off" placeholder="密码" />
            </div>

            <div class="user-submit">
                <a class="register-btn">注册</a>
            </div>

        </div>
    </div>

    <div class="login-wrapper">
    </div>

    <input type="hidden" name="registerUrl" value="@(Url.Action("Register","Account"))" />
</div>

@section footer{
    <script type="text/javascript">
        $(function () {
            //居中
            $('.register').css('margin-left', $('.register').outerWidth() * (-0.5));

            //注册
            $('.register-btn').on('click', function () {

                var username = $('.username').val();
                var pwd = $('.password').val();

                if ($.trim(username) == '') {

                    $('.tips-text').text('用户名称不能为空');
                    $('.tips-text').css('visibility', 'visible');
                    return;
                }

                if ($.trim(pwd) == '') {

                    $('.tips-text').text('密码不能为空');
                    $('.tips-text').css('visibility', 'visible');
                    return;
                }

                var registerUrl = $('input[name="registerUrl"]').val();

                $.ajax({
                    type: 'post',
                    url: registerUrl,
                    data: JSON.stringify({ LoginName: username, Password: pwd }),
                    contentType: 'application/json;charset=utf-8',
                    success: function (data) {

                        if (data.Code < 0) {
                            $('.tips-text').text(data.Msg);
                            $('.tips-text').css('visibility','visible');
                            return false;
                        }

                        location.href = '/';
                    }
                });
            });

            $('.username,.password').on('focus', function () {
                $('.tips-text').text('');
                $('.tips-text').css('visibility', 'hidden');
            });

        });
    </script>
}